page{
    height: 100%;
    position: relative;
}

.switch_box{
    z-index: 100;
    position: absolute;
    bottom: 80rpx;
    right: 48rpx;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .switch_btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--oddsColor);
        width: 60rpx;
        height: 60rpx;
        border-radius: 50%;
        image{
            width: 40rpx;
            height: 40rpx;
        }
        text{
            display: none;
        }
    }
    .switch_btn1{
        width: 100%;
        height: 60rpx;
        border-radius: 30rpx;
        background-color: var(--oddsColor);
        image{
            float: right;
            width: 40rpx;
            height: 40rpx;
            margin: 0 10rpx;
            animation:ani_2 1s infinite;
        }
        text{
            float: right;
            display: block;
            font-size: 24rpx;
            margin-left: 30rpx;
            color: var(--boxColor);
            animation:ani_1 1s infinite;
        }
        @keyframes ani_1 {
            from{margin-right: 0;}
            to{margin-right: 20rpx;}
        }
        @keyframes ani_2 {
            from{margin-right: 0;}
            to{margin-right: 20rpx;}
        }
    }
}

.match_container{
    height: 100%;
    padding: 0 8rpx;
    .match_wrap{
        height: ~'calc(100vh - 72rpx)';
        .match_title{
            text-align: center;
            font-size: 24rpx;
            margin-top: 8rpx;
            color: var(--secondText);
        }
    }
}