page{
    height: 100%;
}
.fav_wrap{
    height: 100%;
    .nofav_wrap{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        image{
            width: 280rpx;
            height: 280rpx;
            margin-bottom: 32rpx;
        }
        .space{
            color: var(--secondText);
            text-align: center;
            font-size: 24rpx;
        }
    }
}

.match_container{
    height: 100%;
    padding: 0 8rpx;
    .match_wrap{
        height: ~'calc(100vh - 72rpx)';
        .match_title{
            text-align: center;
            font-size: 24rpx;
            margin-top: 8rpx;
            color: var(--secondText);
        }
    }
}